<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/help.css">
    <link rel="stylesheet" href="../static/scroll.css">
</head>
<body>
    <div class="landingcontent">
        <div class="navbar">
            <div class="logo">
                <img src="../static/cssImages/logo.png" alt="videobooks" width="100px" height="100px">
            </div>
            <div class="helpheading">
                <h1>Help</h1>
            </div>
            <div class="profile">
                <img id="profilepic"src="../static/cssImages/profile.png" alt="profile">
            </div>
        </div>
        <div class="maincontent">
            <div class="detialofhelp">
                <p> The platform aims to enhance storytelling experiences 
                    by transforming written storylines into engaging video clips. By leveraging user prompts, the 
                    website will generate short video clips that vividly depict the events of children's books, making 
                    understanding and enjoyment more accessible and captivating. More specifically, in this system, a 
                    user will initially browse for video that’s already existing within the system or from their history 
                    of videos stored. If they wish to create a new video for a new prompt, they basically enter the 
                    storyline and wait for the video to be displayed.
                </p>
                <p>
                    <b>Assumptions:</b><br>
 
                    • <b>User Engagement:</b> The success of the platform assumes that users, particularly children, will 
                    be engaged and interested in the video book content provided. <br>
                     
                    • <b>Parental Supervision:</b> It is assumed that parents or guardians will supervise and guide 
                    children's interactions with the platform, ensuring they access age-appropriate content and use 
                    the platform safely.<br> 
                     
                    • <b>Technology Adoption:</b> Users are assumed to have access to the necessary technology (e.g., 
                    internet connection, devices) to use the platform effectively.<br>
                     
                    • <b>Educational Value:</b> The platform assumes that video books have educational value and can 
                    contribute to children's literacy, creativity, and cognitive development. </p>
                    <h2>You want to generate your story...</h2>
                    <div id="help1">
                        <img src="../static/cssImages/help1.png" alt="" height="280px" width="520px">
                    </div>
                    <p>1.Enter the title of the story in the 'enter title of your story' input box.</p>
                    <div id="help1">
                        <img src="../static/cssImages/help2.png" alt="" height="280px" width="520px">
                    </div>
                    <p>2.Enter the prompt of your story in the 'enter your story prompt here' input box. <br><b>Guidelines to enter prompt:</b><br>(a).Dont use he/she or the name constantly rather specify the species for every sentence. <br>(b).Ensure that you have properly discribed the specie. <br>(c).Ensure that every sentence you type have some meaning and can be picturised. <br> <br>3.Click on GENERATE button to generate your story.</p>
                    <div id="help1">
                        <img src="../static/cssImages/samplevideoimage.jpeg" alt="" height="280px" width="520px">
                    </div>
                    <p>4.Your video be displayed as shown above.</p>
            </div>
        </div>
        <div class="footer">
            <a href="/landing_page"><button id="bak">Back</button></a>
        </div>
    </div>
</body>
</html>