<!-- for creating accounts -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script type="module" src="../static/signup.js" defer></script>

</head>
<body>
    <div class="head_container">
        <div class="blue_container">
            <div class="left_box">
                <div class="logoclass">
                    <img src="../static/cssImages/Group 4.png" alt="video_books logo" class="logo">
                </div>
                <div class="heading">
                    <h1>Welcome Back!</h1>
                </div>
                <div class="title_line"><p>To keep connected with us please login with your personal information</p></div>

                <div class="sign_in_button">
                    <a href="/login"><button>SIGN IN</button></a>
                </div>
            </div>

            <form class="right_box">
                <h1>Create Account</h1>

                <div class="logobox">
                    <div class="container">
                        <img src="../static/cssImages/twitter.png" alt="twitter">
                    </div>
                    <div class="container">
                        <img src="../static/cssImages/google.png" alt="google">
                    </div>
                    <div class="container">
                        <img src="../static/cssImages/instagram.png" alt="instagram">
                    </div>
                    <div class="container">
                        <img src="../static/cssImages/linkedin.png" alt="linkedin">
                    </div>
                </div>

                <div class="another">
                    or use you email for registration
                </div>

                <div class="blanks"><img src="../static/cssImages/user-solid 1.png" alt="bhai"><input type="text" name="Name" id="name" placeholder="Oh, hiee" required></div>
                <div class="blanks"><img src="../static/cssImages/envelope-solid 1.png" alt="mail"><input type="email" name="email" id="email" placeholder="Umm, How should we reach you?" required></div>
                <div class="blanks"><img src="../static/cssImages/lock-solid 1.png" alt="lock"><input type="password" name="password" id="password" placeholder="Write a secure one!" required>
                </div>

                <button class="sign_up_button" id="submit" type="submit">SIGN UP</button></a>
            </form>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</script>
</html>